<ion-header>
  <ion-navbar>
    <ion-title>Snake</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding game-controls (swipe-action)="Swipe($event)" (tap-action)="Tap($event)">
  <ion-grid>
    <ion-row>
      <ion-col [ngSwitch]="_gameStatus">
        <button *ngSwitchCase="_gameStatusEnum.WaitingToStart" ion-button (click)="Start()">Start</button>
        <button *ngSwitchCase="_gameStatusEnum.GameOver" ion-button (click)="Restart()">Play Again</button>
        <button *ngSwitchCase="_gameStatusEnum.Running" ion-button (click)="Pause()">Pause</button>
        <button *ngSwitchCase="_gameStatusEnum.Paused" ion-button (click)="Continue()">Continue</button>
      </ion-col>
      <ion-col>
        <h1>Score: {{_points}}</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let row of _items">
      <div *ngFor="let item of row" >
        <div class="game-grid" [class.snake]="item.type === 'snake'" [class.target]="item.type === 'target'" [style.height]="_edge" [style.width]="_edge">
        </div>
      </div>
    </ion-row>
  </ion-grid>

</ion-content>
